
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 233, 228);
  height: 100vh;
max-height: 100vh;
overflow: auto;
}
/* header{
  width: 100;
  padding: 20px;
  position: absolute;
  top: 0;
} */
header nav{
  display: flex;
  justify-content: space-around;
}
nav ul li{
display:inline-block;
}
nav ul li a{
  text-decoration: none;
  margin-top: 200px;
  margin-right:20px;
  font-size: 15px;
  color: black;
  font-family: Tahoma;
  display: inline;

}
 nav ul li a:hover{
    color: rgb(255, 17, 0);
}

  


.bannercontainer{
margin-top:240px;
font-size: 30px;

}
.leftsection #p{
  font-size: 15px;
}
#img1{
  max-width: 100%;
  height: 28px;
  width: 100px;
  margin-top: 0px;
  margin-left: -200px;
}
/* .bttn{
  border: none;
   border-radius: 30px;
 height: 28px;
 width: 121px;
 color: rgb(243, 207, 207);
 background-color: chocolate;
 transition-duration: 0.2s;

}
.bttn:hover{
  background-color: orange;
  cursor: pointer;
} */
/* .bttn:active{ */
  /* background-color: red; */
/* } */
.products{
  width: 80%;
  /* border: 2px solid brown; */
  position: relative;
  left: 10%;
  top: 100px;
}
.promb{
  display: flex;
  justify-content: space-between;
  

}
.choose{
  height:20px;
}
category{
  margin-top: 210px;
  margin-left: 19px;
  background-color: white;
  display: flex;
  justify-content: space-around;

}
/* category images */
#img6{
  margin-top: 150px;
  height: 260px;
  width: 240px;
  
}
#img7{
  margin-top: 150px;
  height: 260px;
  width: 240px;
  
}
#img8{
  margin-top: 150px;
  height: 260px;
  width: 240px;
}


.adding{
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
}
.adding div a{
  text-decoration: none;
  color: black;
}
.textc{
  width: 20%;
  height: 200px;
}
.rating{
  display:flex;
}
.star{
  color: orangered;
}
.textc{
  width: 20%;
  height: 200px;
}
.adding1{
  position: relative;
  justify-content: space-between;
  width:100%;
  display: flex;
  top:300px;
}
/* .textc{
  width: 20%;
  height: 200px;

} */
.adding2{
  position: relative;
  justify-content: space-between;
  width:100%;
  display: flex;
  top:600px;
}
.textc{
  width: 20%;
  height: 200px;

}
.pageno{
  border: none;
   border-radius: 30px;
 height: 28px;
 width: 121px;
 color: rgb(243, 207, 207);
 background-color: chocolate;
 transition-duration: 0.2s;

}
.pageno:hover{
  background-color: orange;
  cursor: pointer;
}
footer{
  height: 300px;
  background-color: black;
  position: relative;
  top:1200px;
  border: 2px solid red;
  margin-bottom: 500px;
  
}
.infooter{
  /* border:2px solid red; */
  height: 200px;
  width: 80%;
  position: relative;
  left: 10%;
  top: 20px;
}
.dwnld{
  /* border: 2px solid green; */
  height: 180px;
  width: 30%;
  position: relative;
  left: 0%;
  top: 10px;

}
.rdstr{

  /* border: 2px solid rgb(255, 4, 4); */
  height: 180px;
  width: 30%;
  position: relative;
  left: 32%;
  top: -180px;

}
.link{
  /* border: 2px solid yellow; */
  height: 180px;
  width: 15%;
  position: relative;
  left: 65%;
  top: -357px;



}
.follow{
  /* border: 2px solid yellow; */
  height: 180px;
  width: 15%;
  position: relative;
  left: 84%;
  top: -536px;


}
.dwnld h4{
  color: white;
}
.dwnld h6{
  color: white;

}
.dwnld img{
  height: 50px;
  width:150px;
}
.rdstr img{
  height:50px;
  width:150px;
  margin-left: 22%;
}
.rdstr h6{
  color: white;
  text-align: center;
   
}
.link h4{
  color: white;
  text-align: center;
}
.link h6{
  color:lightgray;
  position: relative;
  top:-10px;
  text-align: center;
  margin-left: 20px;
  line-height: 2px;
}
.follow h4{
  color: white;
  text-align: center;
  margin-top: 2px;
}
.follow h6{
  color:white;
  text-align: center;
  margin-left: 20px;
  line-height: 2px;
  margin-top: 10px;

}
.line{
  background-color: white;
  height: 2px;
position: relative;
top: 200px;
}
.lst{
color: white;
}
.bttn{
  position: absolute;
  height:30px;
  /* border: 3px solid red; */
  bottom:-900px;



}
.bttn :hover{
  background-color: orange;
 
}

